
API/build/*

*/*/*.d
*/*/*.o
*/*/*/*.d
*/*/*/*.o

Examples/ImageWarping/output.png
Examples/ShapeFromShadingSimple/sfsOutput.imagedump

API/testMLib/testMLib
Examples/ImageWarping/imagewarping
Examples/SmoothingLaplacianFloat4Graph/meshsmoothing
Examples/ShapeFromShadingSimple/shapefromshading


/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/src/*.deps
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.idb
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.obj
/Examples/SmoothingBiLaplacianCeres/*.opensdf
/Examples/SmoothingBiLaplacianCeres/*.sdf
/Examples/SmoothingBiLaplacianCeres/*.suo
/Examples/SmoothingBiLaplacianCeres/*.png
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.log
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.obj
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.idb
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.pdb
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*.tlog
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*.lastbuildstate
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*
/Examples/SmoothingBiLaplacianCeres/x64/Release/*.exe
/Examples/SmoothingBiLaplacianCeres/x64/Release/*.pdb
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.log
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/curve_fitting.tlog/*.tlog
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/curve_fitting.tlog/*.lastbuildstate
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.obj
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.obj
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.cache
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*.tlog
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*.lastbuildstate
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.log
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.cache
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/Smoothin.CA9DD020.tlog/*.tlog
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/Smoothin.CA9DD020.tlog/*.lastbuildstate
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.exe
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.log
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/src/*.deps
/Examples/SmoothingLaplacianFloat4Graph/Opt.dll
/Examples/SmoothingLaplacianFloat4Graph/Opt.h
/Examples/SmoothingLaplacianFloat4Graph/Opt.lib
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.opensdf
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.sdf
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.v12.suo
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.vcxproj.user
/Examples/SmoothingLaplacianFloat4Graph/output.png
/Examples/ImageWarping/ImageWarping.opensdf
/Examples/ImageWarping/ImageWarping.sdf
/Examples/ImageWarping/ImageWarping.v12.suo
/Examples/ImageWarping/Opt.dll
/Examples/ImageWarping/Opt.h
/Examples/ImageWarping/Opt.lib
/Examples/ImageWarping/output.png
/Examples/ImageWarping/vc120.pdb
/Examples/ImageWarping/x64/Debug/CUDAPatchSolverWarping.obj
/Examples/ImageWarping/x64/Debug/CUDAWarpingSolver.obj
/Examples/ImageWarping/x64/Debug/ImageWarping.exe
/Examples/ImageWarping/x64/Debug/ImageWarping.ilk
/Examples/ImageWarping/x64/Debug/ImageWarping.log
/Examples/ImageWarping/x64/Debug/ImageWarping.pdb
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/CL.read.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/CL.write.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/ImageWarping.lastbuildstate
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/cl.command.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link.command.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link.read.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link.write.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.vcxprojResolveAssemblyReference.cache
/Examples/ImageWarping/x64/Debug/PatchSolverWarping.cu.cache
/Examples/ImageWarping/x64/Debug/PatchSolverWarping.cu.obj
/Examples/ImageWarping/x64/Debug/TerraSolverWarping.cu.cache
/Examples/ImageWarping/x64/Debug/TerraSolverWarping.cu.obj
/Examples/ImageWarping/x64/Debug/WarpingSolver.cu.cache
/Examples/ImageWarping/x64/Debug/WarpingSolver.cu.obj
/Examples/ImageWarping/x64/Debug/mLibSource.obj
/Examples/ImageWarping/x64/Debug/main.obj
/Examples/ImageWarping/x64/Debug/src/PatchSolverWarping.cu.deps
/Examples/ImageWarping/x64/Debug/src/TerraSolverWarping.cu.deps
/Examples/ImageWarping/x64/Debug/src/WarpingSolver.cu.deps
/Examples/ImageWarping/x64/Debug/vc120.idb
/Examples/ImageWarping/x64/Debug/vc120.pdb
/Examples/ImageWarping/x64/Release/CUDAPatchSolverWarping.obj
/Examples/ImageWarping/x64/Release/CUDAWarpingSolver.obj
/Examples/ImageWarping/x64/Release/CeresSolverImageWarping.obj
/Examples/ImageWarping/x64/Release/ImageWarping.Build.CppClean.log
/Examples/ImageWarping/x64/Release/ImageWarping.exe
/Examples/ImageWarping/x64/Release/ImageWarping.log
/Examples/ImageWarping/x64/Release/ImageWarping.pdb
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/CL.read.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/CL.write.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/ImageWarping.lastbuildstate
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/cl.command.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/link.command.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/link.read.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/link.write.1.tlog
/Examples/ImageWarping/x64/Release/PatchSolverWarping.cu.cache
/Examples/ImageWarping/x64/Release/PatchSolverWarping.cu.obj
/Examples/ImageWarping/x64/Release/TerraSolverWarping.cu.cache
/Examples/ImageWarping/x64/Release/TerraSolverWarping.cu.obj
/Examples/ImageWarping/x64/Release/WarpingSolver.cu.cache
/Examples/ImageWarping/x64/Release/WarpingSolver.cu.obj
/Examples/ImageWarping/x64/Release/mLibSource.obj
/Examples/ImageWarping/x64/Release/main.obj
/Examples/ImageWarping/x64/Release/src/PatchSolverWarping.cu.deps
/Examples/ImageWarping/x64/Release/src/TerraSolverWarping.cu.deps
/Examples/ImageWarping/x64/Release/src/WarpingSolver.cu.deps
/Examples/ImageWarping/x64/Release/vc120.pdb
/ImageWarping/ImageWarping.sdf
/ImageWarping/x64/Release/ImageWarping.vcxprojResolveAssemblyReference.cache
/Examples/ImageWarping/x64/Release/ImageWarping.vcxprojResolveAssemblyReference.cache
