
API/build/*

*/*/*.d
*/*/*.o
*/*/*/*.d
*/*/*/*.o

Examples/ImageWarping/output.png
Examples/ShapeFromShadingSimple/sfsOutput.imagedump

API/testMLib/testMLib
Examples/ImageWarping/imagewarping
Examples/SmoothingLaplacianFloat4Graph/meshsmoothing
Examples/ShapeFromShadingSimple/shapefromshading


/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/src/*.deps
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.idb
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.obj
/Examples/SmoothingBiLaplacianCeres/*.opensdf
/Examples/SmoothingBiLaplacianCeres/*.sdf
/Examples/SmoothingBiLaplacianCeres/*.suo
/Examples/SmoothingBiLaplacianCeres/*.png
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.log
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.obj
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.idb
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.pdb
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*.tlog
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*.lastbuildstate
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*
/Examples/SmoothingBiLaplacianCeres/x64/Release/*.exe
/Examples/SmoothingBiLaplacianCeres/x64/Release/*.pdb
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.log
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/curve_fitting.tlog/*.tlog
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/curve_fitting.tlog/*.lastbuildstate
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.obj
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.obj
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.cache
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*.tlog
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*.lastbuildstate
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.log
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.cache
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/Smoothin.CA9DD020.tlog/*.tlog
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/Smoothin.CA9DD020.tlog/*.lastbuildstate
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.exe
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.log
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/src/*.deps
/Examples/SmoothingLaplacianFloat4Graph/Opt.dll
/Examples/SmoothingLaplacianFloat4Graph/Opt.h
/Examples/SmoothingLaplacianFloat4Graph/Opt.lib
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.opensdf
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.sdf
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.v12.suo
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.vcxproj.user
/Examples/SmoothingLaplacianFloat4Graph/output.png
