
API/build/*

*/*/*.d
*/*/*.o
*/*/*/*.d
*/*/*/*.o

Examples/ImageWarping/output.png
Examples/ShapeFromShadingSimple/sfsOutput.imagedump

API/testMLib/testMLib
Examples/ImageWarping/imagewarping
Examples/SmoothingLaplacianFloat4Graph/meshsmoothing
Examples/ShapeFromShadingSimple/shapefromshading


/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/src/*.deps
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.idb
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.obj
/Examples/SmoothingBiLaplacianCeres/*.opensdf
/Examples/SmoothingBiLaplacianCeres/*.sdf
/Examples/SmoothingBiLaplacianCeres/*.suo
/Examples/SmoothingBiLaplacianCeres/*.png
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.log
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.obj
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.idb
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/*.pdb
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*.tlog
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*.lastbuildstate
/Examples/SmoothingBiLaplacianCeres/x64/Debug/curve_fitting/curve_fitting.tlog/*
/Examples/SmoothingBiLaplacianCeres/x64/Release/*.exe
/Examples/SmoothingBiLaplacianCeres/x64/Release/*.pdb
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.log
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/curve_fitting.tlog/*.tlog
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/curve_fitting.tlog/*.lastbuildstate
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.obj
/Examples/SmoothingBiLaplacianCeres/x64/Release/curve_fitting/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.obj
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.cache
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*.tlog
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*.lastbuildstate
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/Smoothin.CA9DD020.tlog/*
/Examples/SmoothingLaplacianFloat4Graph/x64/Debug/*.log
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.cache
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/Smoothin.CA9DD020.tlog/*.tlog
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/Smoothin.CA9DD020.tlog/*.lastbuildstate
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.exe
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.pdb
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/*.log
/Examples/SmoothingLaplacianFloat4Graph/x64/Release/src/*.deps
/Examples/SmoothingLaplacianFloat4Graph/Opt.dll
/Examples/SmoothingLaplacianFloat4Graph/Opt.h
/Examples/SmoothingLaplacianFloat4Graph/Opt.lib
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.opensdf
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.sdf
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.v12.suo
/Examples/SmoothingLaplacianFloat4Graph/SmoothingLaplacianFloat4.vcxproj.user
/Examples/SmoothingLaplacianFloat4Graph/output.png
/Examples/ImageWarping/ImageWarping.opensdf
/Examples/ImageWarping/ImageWarping.sdf
/Examples/ImageWarping/ImageWarping.v12.suo
/Examples/ImageWarping/Opt.dll
/Examples/ImageWarping/Opt.h
/Examples/ImageWarping/Opt.lib
/Examples/ImageWarping/output.png
/Examples/ImageWarping/vc120.pdb
/Examples/ImageWarping/x64/Debug/CUDAPatchSolverWarping.obj
/Examples/ImageWarping/x64/Debug/CUDAWarpingSolver.obj
/Examples/ImageWarping/x64/Debug/ImageWarping.exe
/Examples/ImageWarping/x64/Debug/ImageWarping.ilk
/Examples/ImageWarping/x64/Debug/ImageWarping.log
/Examples/ImageWarping/x64/Debug/ImageWarping.pdb
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/CL.read.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/CL.write.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/ImageWarping.lastbuildstate
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/cl.command.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link.command.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link.read.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link.write.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.vcxprojResolveAssemblyReference.cache
/Examples/ImageWarping/x64/Debug/PatchSolverWarping.cu.cache
/Examples/ImageWarping/x64/Debug/PatchSolverWarping.cu.obj
/Examples/ImageWarping/x64/Debug/TerraSolverWarping.cu.cache
/Examples/ImageWarping/x64/Debug/TerraSolverWarping.cu.obj
/Examples/ImageWarping/x64/Debug/WarpingSolver.cu.cache
/Examples/ImageWarping/x64/Debug/WarpingSolver.cu.obj
/Examples/ImageWarping/x64/Debug/mLibSource.obj
/Examples/ImageWarping/x64/Debug/main.obj
/Examples/ImageWarping/x64/Debug/src/PatchSolverWarping.cu.deps
/Examples/ImageWarping/x64/Debug/src/TerraSolverWarping.cu.deps
/Examples/ImageWarping/x64/Debug/src/WarpingSolver.cu.deps
/Examples/ImageWarping/x64/Debug/vc120.idb
/Examples/ImageWarping/x64/Debug/vc120.pdb
/Examples/ImageWarping/x64/Release/CUDAPatchSolverWarping.obj
/Examples/ImageWarping/x64/Release/CUDAWarpingSolver.obj
/Examples/ImageWarping/x64/Release/CeresSolverImageWarping.obj
/Examples/ImageWarping/x64/Release/ImageWarping.Build.CppClean.log
/Examples/ImageWarping/x64/Release/ImageWarping.exe
/Examples/ImageWarping/x64/Release/ImageWarping.log
/Examples/ImageWarping/x64/Release/ImageWarping.pdb
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/CL.read.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/CL.write.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/ImageWarping.lastbuildstate
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/cl.command.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/link.command.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/link.read.1.tlog
/Examples/ImageWarping/x64/Release/ImageWarping.tlog/link.write.1.tlog
/Examples/ImageWarping/x64/Release/PatchSolverWarping.cu.cache
/Examples/ImageWarping/x64/Release/PatchSolverWarping.cu.obj
/Examples/ImageWarping/x64/Release/TerraSolverWarping.cu.cache
/Examples/ImageWarping/x64/Release/TerraSolverWarping.cu.obj
/Examples/ImageWarping/x64/Release/WarpingSolver.cu.cache
/Examples/ImageWarping/x64/Release/WarpingSolver.cu.obj
/Examples/ImageWarping/x64/Release/mLibSource.obj
/Examples/ImageWarping/x64/Release/main.obj
/Examples/ImageWarping/x64/Release/src/PatchSolverWarping.cu.deps
/Examples/ImageWarping/x64/Release/src/TerraSolverWarping.cu.deps
/Examples/ImageWarping/x64/Release/src/WarpingSolver.cu.deps
/Examples/ImageWarping/x64/Release/vc120.pdb
/ImageWarping/ImageWarping.sdf
/ImageWarping/x64/Release/ImageWarping.vcxprojResolveAssemblyReference.cache
/Examples/ImageWarping/x64/Release/ImageWarping.vcxprojResolveAssemblyReference.cache
/Examples/MeshDeformationARAP/*.opensdf
/Examples/MeshDeformationARAP/*.sdf
/Examples/MeshDeformationARAP/x64/Debug/*.cache
/Examples/ShapeFromShading/Opt.dll
/Examples/ShapeFromShading/Opt.lib
/Examples/ShapeFromShading/RealtimeSFS.opensdf
/Examples/ShapeFromShading/RealtimeSFS.sdf
/Examples/ShapeFromShading/RealtimeSFS.v12.suo
/Examples/ShapeFromShading/ipch/realtimesfs-af47dfe1/realtimesfs-f2b3aa3.ipch
/Examples/ShapeFromShading/vc120.pdb
/Examples/ShapeFromShading/x64/Debug/RealtimeSFS.vcxprojResolveAssemblyReference.cache
/Examples/ShapeFromShading/x64/Release/BinaryDumpReader.obj
/Examples/ShapeFromShading/x64/Release/CUDABuildLinearSystem.cu.cache
/Examples/ShapeFromShading/x64/Release/CUDABuildLinearSystem.cu.obj
/Examples/ShapeFromShading/x64/Release/CUDABuildLinearSystem.obj
/Examples/ShapeFromShading/x64/Release/CUDACameraTrackingMultiRes.obj
/Examples/ShapeFromShading/x64/Release/CUDAHoleFiller.cu.cache
/Examples/ShapeFromShading/x64/Release/CUDAHoleFiller.cu.obj
/Examples/ShapeFromShading/x64/Release/CUDAHoleFiller.obj
/Examples/ShapeFromShading/x64/Release/CUDAImageHelper.cu.cache
/Examples/ShapeFromShading/x64/Release/CUDAImageHelper.cu.obj
/Examples/ShapeFromShading/x64/Release/CUDAImageHelper.obj
/Examples/ShapeFromShading/x64/Release/CUDAPatchSolverSFS.obj
/Examples/ShapeFromShading/x64/Release/CUDARGBDAdapter.obj
/Examples/ShapeFromShading/x64/Release/CUDARGBDSensor.obj
/Examples/ShapeFromShading/x64/Release/CUDASolverSHLighting.obj
/Examples/ShapeFromShading/x64/Release/CameraUtil.cu.cache
/Examples/ShapeFromShading/x64/Release/CameraUtil.cu.obj
/Examples/ShapeFromShading/x64/Release/Cuda/CUDABuildLinearSystem.cu.deps
/Examples/ShapeFromShading/x64/Release/Cuda/CUDAHoleFiller.cu.deps
/Examples/ShapeFromShading/x64/Release/Cuda/CUDAImageHelper.cu.deps
/Examples/ShapeFromShading/x64/Release/Cuda/CameraUtil.cu.deps
/Examples/ShapeFromShading/x64/Release/Cuda/PatchSolverSFS/PatchSolverSFS.cu.deps
/Examples/ShapeFromShading/x64/Release/Cuda/ScanCS.cu.deps
/Examples/ShapeFromShading/x64/Release/Cuda/SolverSFS/SolverSFS.cu.deps
/Examples/ShapeFromShading/x64/Release/Cuda/SolverSHLighting.cu.deps
/Examples/ShapeFromShading/x64/Release/CudaScan.obj
/Examples/ShapeFromShading/x64/Release/DX11CustomRenderTarget.obj
/Examples/ShapeFromShading/x64/Release/DX11PhongLighting.obj
/Examples/ShapeFromShading/x64/Release/DX11QuadDrawer.obj
/Examples/ShapeFromShading/x64/Release/DX11RGBDRenderer.obj
/Examples/ShapeFromShading/x64/Release/DX11Utils.obj
/Examples/ShapeFromShading/x64/Release/DXUT.obj
/Examples/ShapeFromShading/x64/Release/DXUTDevice11.obj
/Examples/ShapeFromShading/x64/Release/DXUTDevice9.obj
/Examples/ShapeFromShading/x64/Release/DXUTcamera.obj
/Examples/ShapeFromShading/x64/Release/DXUTgui.obj
/Examples/ShapeFromShading/x64/Release/DXUTmisc.obj
/Examples/ShapeFromShading/x64/Release/DXUTres.obj
/Examples/ShapeFromShading/x64/Release/DXUTsettingsdlg.obj
/Examples/ShapeFromShading/x64/Release/DumpOptImage.obj
/Examples/ShapeFromShading/x64/Release/GlobalAppState.obj
/Examples/ShapeFromShading/x64/Release/GroundTruthSensor.obj
/Examples/ShapeFromShading/x64/Release/ICPErrorLog.obj
/Examples/ShapeFromShading/x64/Release/KinectOneSensor.obj
/Examples/ShapeFromShading/x64/Release/Optimizer.obj
/Examples/ShapeFromShading/x64/Release/PatchSolverSFS.cu.cache
/Examples/ShapeFromShading/x64/Release/PatchSolverSFS.cu.obj
/Examples/ShapeFromShading/x64/Release/PrimeSenseSensor.obj
/Examples/ShapeFromShading/x64/Release/RGBDSensor.obj
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.exe
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.log
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.obj
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.pch
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.pdb
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.tlog/CL.read.1.tlog
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.tlog/CL.write.1.tlog
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.tlog/RealtimeSFS.lastbuildstate
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.tlog/cl.command.1.tlog
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.tlog/link.command.1.tlog
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.tlog/link.read.1.tlog
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.tlog/link.write.1.tlog
/Examples/ShapeFromShading/x64/Release/RealtimeSFS.vcxprojResolveAssemblyReference.cache
/Examples/ShapeFromShading/x64/Release/SDKmesh.obj
/Examples/ShapeFromShading/x64/Release/SDKmisc.obj
/Examples/ShapeFromShading/x64/Release/ScanCS.cu.cache
/Examples/ShapeFromShading/x64/Release/ScanCS.cu.obj
/Examples/ShapeFromShading/x64/Release/SolverSFS.cu.cache
/Examples/ShapeFromShading/x64/Release/SolverSFS.cu.obj
/Examples/ShapeFromShading/x64/Release/SolverSFSCeres.obj
/Examples/ShapeFromShading/x64/Release/SolverSHLighting.cu.cache
/Examples/ShapeFromShading/x64/Release/SolverSHLighting.cu.obj
/Examples/ShapeFromShading/x64/Release/StdOutputLogger.obj
/Examples/ShapeFromShading/x64/Release/TimingLog.obj
/Examples/ShapeFromShading/x64/Release/stdafx.obj
/Examples/ShapeFromShading/x64/Release/vc120.pdb
/Examples/ShapeFromShadingSimple/Opt.dll
/Examples/ShapeFromShadingSimple/Opt.h
/Examples/ShapeFromShadingSimple/Opt.lib
/Examples/ShapeFromShadingSimple/ShapeFromShadingSimple.opensdf
/Examples/ShapeFromShadingSimple/ShapeFromShadingSimple.sdf
/Examples/ShapeFromShadingSimple/ShapeFromShadingSimple.v12.suo
/Examples/ShapeFromShadingSimple/vc120.pdb
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFromShadingSimple.vcxprojResolveAssemblyReference.cache
/Examples/ShapeFromShadingSimple/x64/Release/CUDAImageSolver.obj
/Examples/ShapeFromShadingSimple/x64/Release/CUDAPatchSolverWarping.obj
/Examples/ShapeFromShadingSimple/x64/Release/CeresImageSolver.obj
/Examples/ShapeFromShadingSimple/x64/Release/PatchSolverWarping.cu.cache
/Examples/ShapeFromShadingSimple/x64/Release/PatchSolverWarping.cu.obj
/Examples/ShapeFromShadingSimple/x64/Release/SFSSolver.cu.cache
/Examples/ShapeFromShadingSimple/x64/Release/SFSSolver.cu.obj
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFro.CA9DD020.tlog/CL.read.1.tlog
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFro.CA9DD020.tlog/CL.write.1.tlog
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFro.CA9DD020.tlog/ShapeFromShadingSimple.lastbuildstate
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFro.CA9DD020.tlog/cl.command.1.tlog
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFro.CA9DD020.tlog/link.command.1.tlog
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFro.CA9DD020.tlog/link.read.1.tlog
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFro.CA9DD020.tlog/link.write.1.tlog
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFromShadingSimple.exe
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFromShadingSimple.log
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFromShadingSimple.pdb
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFromShadingSimple.vcxprojResolveAssemblyReference.cache
/Examples/ShapeFromShadingSimple/x64/Release/SimpleBuffer.obj
/Examples/ShapeFromShadingSimple/x64/Release/mLibSource.obj
/Examples/ShapeFromShadingSimple/x64/Release/main.obj
/Examples/ShapeFromShadingSimple/x64/Release/src/PatchSolverWarping.cu.deps
/Examples/ShapeFromShadingSimple/x64/Release/src/SFSSolver.cu.deps
/Examples/ShapeFromShadingSimple/x64/Release/vc120.pdb
/Examples/ShapeFromShadingSimple/x64/Debug/PatchSolverWarping.cu.cache
/Examples/ShapeFromShadingSimple/x64/Debug/SFSSolver.cu.cache
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFro.CA9DD020.tlog/ShapeFromShadingSimple.lastbuildstate
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFro.CA9DD020.tlog/unsuccessfulbuild
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFromShadingSimple.Build.CppClean.log
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFromShadingSimple.log
/Examples/ShapeFromShadingSimple/x64/Debug/src/PatchSolverWarping.cu.deps
/Examples/ShapeFromShadingSimple/x64/Debug/src/SFSSolver.cu.deps
/Examples/ImageWarping/outputAD.png
/Examples/ImageWarping/outputCERES.png
/Examples/MeshDeformationARAP/MeshSmoothingLaplacian.v12.suo
/Examples/MeshDeformationARAP/Opt.dll
/Examples/MeshDeformationARAP/Opt.h
/Examples/MeshDeformationARAP/Opt.lib
/Examples/MeshDeformationARAP/out.off
/Examples/MeshDeformationARAP/vc120.pdb
/Examples/MeshDeformationARAP/x64/Debug/CUDAWarpingSolver.obj
/Examples/MeshDeformationARAP/x64/Debug/CeresWarpingSolver.obj
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.exe
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.ilk
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.pdb
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.tlog/CL.read.1.tlog
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.tlog/CL.write.1.tlog
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.tlog/MeshDeformation.lastbuildstate
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.tlog/cl.command.1.tlog
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.tlog/link.command.1.tlog
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.tlog/link.read.1.tlog
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.tlog/link.write.1.tlog
/Examples/MeshDeformationARAP/x64/Debug/MeshSmoothingLaplacian.log
/Examples/MeshDeformationARAP/x64/Debug/TerraWarpingSolver.cu.obj
/Examples/MeshDeformationARAP/x64/Debug/WarpingSolver.cu.obj
/Examples/MeshDeformationARAP/x64/Debug/mLibSource.obj
/Examples/MeshDeformationARAP/x64/Debug/main.obj
/Examples/MeshDeformationARAP/x64/Debug/src/TerraWarpingSolver.cu.deps
/Examples/MeshDeformationARAP/x64/Debug/src/WarpingSolver.cu.deps
/Examples/MeshDeformationARAP/x64/Debug/vc120.idb
/Examples/MeshDeformationARAP/x64/Debug/vc120.pdb
/Examples/MeshDeformationARAP/x64/Release/CUDAWarpingSolver.obj
/Examples/MeshDeformationARAP/x64/Release/CeresWarpingSolver.obj
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.Build.CppClean.log
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.exe
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.pdb
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.tlog/CL.read.1.tlog
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.tlog/CL.write.1.tlog
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.tlog/MeshDeformation.lastbuildstate
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.tlog/cl.command.1.tlog
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.tlog/link.command.1.tlog
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.tlog/link.read.1.tlog
/Examples/MeshDeformationARAP/x64/Release/MeshDeformation.tlog/link.write.1.tlog
/Examples/MeshDeformationARAP/x64/Release/MeshSmoothingLaplacian.log
/Examples/MeshDeformationARAP/x64/Release/MeshSmoothingLaplacian.vcxprojResolveAssemblyReference.cache
/Examples/MeshDeformationARAP/x64/Release/TerraWarpingSolver.cu.cache
/Examples/MeshDeformationARAP/x64/Release/TerraWarpingSolver.cu.obj
/Examples/MeshDeformationARAP/x64/Release/WarpingSolver.cu.cache
/Examples/MeshDeformationARAP/x64/Release/WarpingSolver.cu.obj
/Examples/MeshDeformationARAP/x64/Release/mLibSource.obj
/Examples/MeshDeformationARAP/x64/Release/main.obj
/Examples/MeshDeformationARAP/x64/Release/src/TerraWarpingSolver.cu.deps
/Examples/MeshDeformationARAP/x64/Release/src/WarpingSolver.cu.deps
/Examples/MeshDeformationARAP/x64/Release/vc120.pdb
/Examples/ShapeFromShadingSimple/x64/Debug/CUDAImageSolver.obj
/Examples/ShapeFromShadingSimple/x64/Debug/CUDAPatchSolverWarping.obj
/Examples/ShapeFromShadingSimple/x64/Debug/CeresImageSolver.obj
/Examples/ShapeFromShadingSimple/x64/Debug/PatchSolverWarping.cu.obj
/Examples/ShapeFromShadingSimple/x64/Debug/SFSSolver.cu.obj
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFro.CA9DD020.tlog/CL.read.1.tlog
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFro.CA9DD020.tlog/CL.write.1.tlog
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFro.CA9DD020.tlog/cl.command.1.tlog
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFro.CA9DD020.tlog/link.command.1.tlog
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFro.CA9DD020.tlog/link.read.1.tlog
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFro.CA9DD020.tlog/link.write.1.tlog
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFromShadingSimple.exe
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFromShadingSimple.ilk
/Examples/ShapeFromShadingSimple/x64/Debug/ShapeFromShadingSimple.pdb
/Examples/ShapeFromShadingSimple/x64/Debug/SimpleBuffer.obj
/Examples/ShapeFromShadingSimple/x64/Debug/mLibSource.obj
/Examples/ShapeFromShadingSimple/x64/Debug/main.obj
/Examples/ShapeFromShadingSimple/x64/Debug/vc120.idb
/Examples/ShapeFromShadingSimple/x64/Debug/vc120.pdb
/Examples/PoissonImageEditing/x64/Debug/*.cache
/Examples/PoissonImageEditing/x64/Release/*.cache
/Examples/PoissonImageEditing/x64/Debug/src/*.deps
/Examples/PoissonImageEditing/x64/Release/src/*.deps
/Examples/PoissonImageEditing/*.dll
/Examples/PoissonImageEditing/x64/Debug/*.exe
/Examples/PoissonImageEditing/x64/Release/*.exe
/Examples/PoissonImageEditing/x64/Debug/ImageWarping.tlog/*.tlog
/Examples/PoissonImageEditing/x64/Release/ImageWarping.tlog/*.tlog
/Examples/PoissonImageEditing/x64/Debug/PoissonImageEditing.log
/Examples/PoissonImageEditing/x64/Release/PoissonImageEditing.log
/Examples/ShapeFromShadingSimple/x64/Release/ShapeFromShadingSimple.Build.CppClean.log
/Examples/PoissonImageEditing/x64/Debug/CeresSolverPoissonImageEditing.obj
/Examples/PoissonImageEditing/x64/Debug/CUDAPatchSolverWarping.obj
/Examples/PoissonImageEditing/x64/Debug/CUDAWarpingSolver.obj
/Examples/PoissonImageEditing/x64/Debug/main.obj
/Examples/PoissonImageEditing/x64/Debug/mLibSource.obj
/Examples/PoissonImageEditing/x64/Debug/PatchSolverWarping.cu.obj
/Examples/PoissonImageEditing/x64/Debug/WarpingSolver.cu.obj
/Examples/PoissonImageEditing/x64/Release/CeresSolverPoissonImageEditing.obj
/Examples/PoissonImageEditing/x64/Release/CUDAPatchSolverWarping.obj
/Examples/PoissonImageEditing/x64/Release/CUDAWarpingSolver.obj
/Examples/PoissonImageEditing/x64/Release/main.obj
/Examples/PoissonImageEditing/x64/Release/mLibSource.obj
/Examples/PoissonImageEditing/x64/Release/PatchSolverWarping.cu.obj
/Examples/PoissonImageEditing/x64/Release/WarpingSolver.cu.obj
/Examples/PoissonImageEditing/x64/Debug/vc120.idb
/Examples/PoissonImageEditing/x64/Debug/ImageWarping.ilk
/Examples/PoissonImageEditing/x64/Debug/ImageWarping.tlog/ImageWarping.lastbuildstate
/Examples/PoissonImageEditing/x64/Release/ImageWarping.tlog/ImageWarping.lastbuildstate
/Examples/PoissonImageEditing/Opt.lib
/Examples/PoissonImageEditing/PoissonImageEditing.opensdf
/Examples/PoissonImageEditing/vc120.pdb
/Examples/PoissonImageEditing/x64/Debug/ImageWarping.pdb
/Examples/PoissonImageEditing/x64/Debug/vc120.pdb
/Examples/PoissonImageEditing/x64/Release/ImageWarping.pdb
/Examples/PoissonImageEditing/x64/Release/vc120.pdb
/Examples/MeshDeformationARAP/out.ply
/Examples/MeshDeformationARAP/outCERES.ply
/Examples/ShapeFromShadingSimple/sfsOutput - Copy.ply
/Examples/ShapeFromShadingSimple/sfsOutput.ply
/Examples/ImageWarping/ceres_but_AD.png
/Examples/ImageWarping/ceres_but_AD2.png
/Examples/ImageWarping/ceres_but_AD3.png
/Examples/ImageWarping/ceres_but_AD4.png
/Examples/ImageWarping/ceres_but_AD5.png
/Examples/ImageWarping/ceresA.png
/Examples/ImageWarping/ceresB.png
/Examples/PoissonImageEditing/boymanMask_3.png
/Examples/PoissonImageEditing/boymanSource1_3.png
/Examples/PoissonImageEditing/boymanSource2_3.png
/Examples/PoissonImageEditing/output.png
/Examples/PoissonImageEditing/outputCeres.png
/Examples/ShapeFromShadingSimple/sfsOutput0.png
/Examples/PoissonImageEditing/PoissonImageEditing.sdf
/Examples/PoissonImageEditing/Opt.h
/Examples/PoissonImageEditing/PoissonImageEditing.v12.suo
/Examples/ShapeFromShadingSimple/shapeFromShadingADHacked.t
/Examples/BundleAdjustment/bundleAdjustment.opensdf
/Examples/BundleAdjustment/bundleAdjustment.sdf
/Examples/data
/Examples/BundleAdjustment/SensToolBox
/Examples/BundleAdjustment/x64
/API/common/Opt.dll
/API/common/Opt.exp
/API/common/Opt.lib
/API/release/share/opt/examples/MeshDeformation/MeshDeformation.opensdf
/API/release/share/opt/examples/MeshDeformation/MeshDeformation.sdf
/API/release/share/opt/examples/MeshDeformation/x64/Debug/MeshDeformation.vcxprojResolveAssemblyReference.cache
/Examples/ImageWarping/Opt.exp
/Examples/ImageWarping/x64/Debug/CeresSolverImageWarping.obj
/Examples/ImageWarping/x64/Debug/ImageWarping.Build.CppClean.log
/Examples/BundleAdjustment/anchorWeights.txt
/Examples/BundleAdjustment/cameraAIndices.txt
/Examples/BundleAdjustment/cameraBIndices.txt
/Examples/BundleAdjustment/cameras.txt
/Examples/BundleAdjustment/correspondenceIndices.txt
/Examples/BundleAdjustment/correspondences.txt
/API/Opt.dll
/API/Opt.exp
/API/Opt.lib
/Examples/SimpleCERESComparison/x64/Debug
/Examples/SimpleCERESComparison/x64/Release
/Examples/ImageWarping/x64/Release NoOpt
/Examples/ImageWarping/.vs/ImageWarping/v14/.suo
/Examples/ImageWarping/ImageWarping.VC.db
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link-cvtres.read.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link-cvtres.write.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link-mt.read.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link-mt.write.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link-rc.read.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/link-rc.write.1.tlog
/Examples/ImageWarping/x64/Debug/ImageWarping.tlog/unsuccessfulbuild
/Examples/MeshDeformationARAP/MeshDeformationARAP.v12.suo
/Examples/MeshDeformationARAP/Opt.exp
/Examples/MeshDeformationARAP/x64/Debug/MeshDeformation.Build.CppClean.log
/Examples/SimpleCERESComparison/Opt.dll
/Examples/SimpleCERESComparison/Opt.exp
/Examples/SimpleCERESComparison/Opt.h
/Examples/SimpleCERESComparison/Opt.lib
/Examples/SimpleCERESComparison/Simple.opensdf
/Examples/SimpleCERESComparison/Simple.sdf
/Examples/SimpleCERESComparison/Simple.v12.suo
/Examples/SimpleCERESComparison/results.txt
/Examples/MeshDeformationLARAP/MeshDeformationLARAP.opensdf
/Examples/MeshDeformationLARAP/MeshDeformationLARAP.sdf
/Examples/MeshDeformationLARAP/MeshDeformationLARAP.v12.suo
/Examples/MeshDeformationLARAP/Opt.dll
/Examples/MeshDeformationLARAP/Opt.exp
/Examples/MeshDeformationLARAP/Opt.h
/Examples/MeshDeformationLARAP/Opt.lib
/Examples/MeshDeformationLARAP/grid.ply
/Examples/MeshDeformationLARAP/gridOut.ply
/Examples/MeshDeformationLARAP/out.ply
/Examples/MeshDeformationLARAP/x64/Debug
/Examples/MeshDeformationLARAP/vc120.pdb
/Examples/MeshDeformationLARAP/x64/Release
